In [1]:
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from __future__ import division

tx_data=pd.read_csv('/Users/n0362948/desktop/Python learn/OnlineRetail.csv',encoding = 'unicode_escape')

C:\Program Files\Anaconda3\lib\site-packages\IPython\html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [5]:
tx_user=pd.DataFrame(tx_data['CustomerID'].unique())
tx_user.columns=['CustomerID']

In [8]:
tx_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [20]:
tx_max_purchase=tx_data.groupby('CustomerID')['InvoiceDate'].max().reset_index()

In [21]:
tx_max_purchase.columns=['CustomerID', 'MaxDate']

In [22]:
tx_max_purchase.head()

   CustomerID          MaxDate
0     12346.0  1/18/2011 10:17
1     12347.0    8/2/2011 8:48
2     12348.0  9/25/2011 13:13
3     12349.0  11/21/2011 9:51
4     12350.0   2/2/2011 16:01

In [43]:
# tx_max_purchase['Recency']=

import datetime as dt
max_date=x = dt.datetime(2011, 9, 9)
max_date

datetime.datetime(2011, 9, 9, 0, 0)

TypeError: cannot convert the series to <class 'int'>

In [13]:
tx_user2=pd.merge(tx_user, tx_max_purchase, on='CustomerID')

In [14]:
tx_user2.head()

   CustomerID      InvoiceDate
0     17850.0  2/10/2011 14:38
1     13047.0   8/4/2011 17:58
2     12583.0  9/30/2011 12:58
3     13748.0    9/5/2011 9:45
4     15100.0  12/8/2010 12:09